* {
  box-sizing: border-box;
  max-width: 960px;
  margin: auto;
  background-color: rgb(13, 80, 13);
  color: aliceblue;
  text-align: center;

}
body{
  font-size: 25px;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}
img{
  width: 150px;
  height: 150px;
}
form,input{
background-color: aliceblue;
color: rgb(10,10,10);
margin-bottom: 5px;
font-size 18px;

}
form{
padding-bottom: 10px;
}

.view{
background-color:  rgb(13, 80, 13);
}