<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">

    <title>Albums</title>
</head>
<body>
    <h1> Some Cool Albums</h1>

    <table>
        <tr>
            <th>Album</th>
            <th>Artist</th>
            <th>Track count</th>
            <th>Length(seconds)</th>
            <th>Album Art</th>
            <th></th>
        </tr>
        <tr th:each="album : ${albums}">
            <td th:text="${album.title}" >Album Title</td>
            <td th:text="${album.artist}">Artist</td>
            <td th:text="${album.songCount}">Song Count</td>
            <td th:text="${album.length}">Length</td>
            <td> <img th:src="${album.imageURL}" alt="Album Art"></td>
           <td> <form class="view" action="/album" method="GET">
                <input type="hidden" name="albumId" th:value="${album.id}">
               <button type="submit">View Album</button>
           </form></td>
        </tr>

    </table>
    <form action="/albums" method="POST">
        Add an Album!<br>
        Album Title <input type="text" name="title">
        Artist <input type="text" name="artist">
        Song Count <input type="number" name="songCount"><br>
        Length (In seconds) <input type="number" name="length">
        Album Art URL <input type="text" name="imageURL">
        <!--        <button type="submit">Add Album</button>-->
        <input type="submit" value = "Add Album">
    </form>

    <a href="/songs">Song List</a><br>
    <a href="/">Home</a><br>


</body>
</html>