<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">

    <title>Title</title>
</head>
<body>
    <div th:each="song : ${songs}">
        <p th:text="${song.title}"></p>
        <p th:text="'Artist ' + ${song.album.artist}"></p>
        <p th:text="'Album: ' + ${song.album.title}"></p>
        <p th:text="'Track #: ' + ${song.trackNumber}"></p>
        <p th:text="'Length(seconds): ' + ${song.length}"></p>
        <form action="/album" method="GET">
            <input type="hidden" name="albumId" th:value="${song.album.getId()}">
            <input type="submit" value="Go to album">
        </form>
    </div>

    <a href="/albums">Albums</a><br>
    <a href="/">Home</a><br>

</body>
</html>